html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  font-weight: 100;
  letter-spacing: 2px;
  color: wheat;
  text-decoration: none;
  padding: 20px 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
}

li {
  list-style: none;
}

.wrapper {
  width: 375px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  background-color: #e5e5e5;
  flex-direction: column;
}

header {
  background-color: white;
  display: flex;
}

header>* {
  flex: 1;
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

header .logo {
  text-align: left;
  margin-left: 25px;
  color: #6070ff;
}

.toolbar {
  color: #6070ff;
  display: flex;
}

.toolbar ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.toolbar ul li {
  flex: 1;
  align-self: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.card-works a,
.headline a {
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 10px 0;
}

.toolbar ul li b {
  color: #6070ff;
}

.logo a {
  text-align: left;
  margin-left: 10px;
}

.collapse-button a {
  text-align: right;
  color: #6070ff;
}

.headline {
  background-image: url(./assets/images/header-shape-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #172b4d;
  padding: 50px 20px;
  border-radius: 0 0 0 50px;
}

.headline h1 {
  width: 325px;
  padding: 10px;
  height: fit-content;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.headline .social-media {
  display: flex;
  width: 100%;
}

.headline .social-media ul {
  width: 60%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.social-media ul li {
  flex: 1;
}

.social-media ul li a {
  color: #505f79;
  padding: 10px 0;
}

.menu {
  display: none;
}

.content {
  position: relative;
  top: 10%;
}

/* //////Projects////// */
.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 40px 20px;
  border-radius: 10px;
}

.image-cover {
  width: 90%;
  height: fit-content;
  margin-top: 10px;
}

.card-works img {
  width: 100%;
  height: auto;
}

.project-info {
  width: 90%;
}

.project-info h1 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-info .label,
.project-info .tags {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.project-info .label li {
  flex: 1;
  list-style: disc;
  color: gray;
  text-align: left;
  margin: 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-info .tags li {
  margin: 0 5px;
}

.aboutme .card-works ul li {
  color: #172b4d;
  margin: 0 7px;
  padding: 0;
}

.project-info .label li:first-child {
  list-style: none;
  color: #172b4d;
  margin: 0;
  font-weight: bold;
}

.project-info .tags li a {
  background-color: #ebebff;
  padding: 2px 6px;
  border-radius: 5px;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.project-info button {
  padding: 7px 10px;
  border: 1px solid #6070ff !important;
  width: fit-content !important;
  border-radius: 5px;
  color: #6070ff;
}

/* ///////////about me ///////// */

.aboutme {
  background-image: url(./assets/images/about-myself.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: #172b4d;
  padding: 50px 20px;
}

.aboutme .card-works {
  align-items: flex-start;
  margin: 20px;
}

.aboutme .card-works b {
  color: #6070ff;
  margin-bottom: 5px;
  font-size: 12px;
}

.contactme div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

.aboutme .card-works h1 {
  margin: 0;
  font-size: 26px;
  font-weight: bolder;
}

.aboutme .card-works ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.aboutme .card-works .languages {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.aboutme .card-works .languages li {
  display: flex;
  width: 100%;
  background-color: #e5e5e5;
  margin: 10px 5px;
  padding: 5px 7px;
  border-radius: 5px;
}

.aboutme .card-works .languages li a {
  color: black;
}

.aboutme .card-works .languages li i {
  margin: 0 10px;
  color: orange;
}

.html-lang-img {
  background-image: url(./assets/images/html.png);
  width: 50px;
  height: 50px;
  float: left;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.css-lang-img {
  background-image: url(./assets/images/css.png);
  width: 50px;
  height: 50px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.javascript-lang-img {
  background-image: url(./assets/images/javascript.png);
  width: 50px;
  height: 50px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme .card-works button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
}

.aboutme .card-works button span {
  float: right;
}

.contactme {
  background-image: url(./assets/images/header-shape-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6070ff;
  color: white;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 60px 0 0 0;
}

footer {
  background-color: white;
}

.contactme div {
  margin: 50px 20px;
  text-align: center;
  color: white;
}

.contactme div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contactme textarea {
  width: 100%;
  margin: 10px 0;
  padding-top: 7px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.contactme input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
  color: #6070ff;
}

.contactme form input:last-child {
  width: fit-content;
  float: left;
  padding: 0 10px;
}

.contactme form input:last-child:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: white;
  box-shadow: 1px;
  border: 1px solid white;
  font-weight: bolder;
}

.fa-brands {
  border-radius: 15px;
  font-size: 25px;
}

.fa-fa-html5 {
  color: orange !important;
}

.fa-css3-alt {
  color: rgb(14, 99, 197) !important;
}

.fa-js {
  color: rgb(211, 181, 11) !important;
}

@media all and (min-width: 375px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) {
  .menu {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 14px;
  }

  .toolbar ul .logo {
    flex: 3;
  }

  .collapse-button {
    display: none;
  }

  .headline .social-media ul {
    width: 20%;
    justify-content: space-around;
  }

  .content p {
    width: 70%;
  }

  .social-media ul li {
    flex: 0;
  }

  .headline .content {
    position: relative;
    top: 10%;
    left: 5%;
    width: 80%;
    height: fit-content;
    margin: 50px;
    font-size: larger;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }
}