@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  font-weight: 100;
  letter-spacing: 2px;
  color: wheat;
  text-decoration: none;
  padding: 10px 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  background-color: #e5e5e5;
}

.head {
  background-color: white;
  width: 100%;
  height: 700px;
  border-radius: 0 0 0 45px;
  margin-bottom: 30px;
}

header {
  background-color: white;
  display: flex;
}

header > * {
  flex: 1;
}

.logo {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

header .logo {
  text-align: left;
  margin-left: 25px;
}

.card-works a {
  width: fit-content;
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 0 10px;
}

.headline a {
  width: fit-content;
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 0 10px;
}

.logo a {
  text-align: left;
  margin-left: 10px;
}

.collapse-button a {
  text-align: right;
  color: #6070ff;
}

header .logo a {
  color: #6070ff;
  transition-duration: 1000ms;
  transition-property: font-size, transform;
  transition-timing-function: linear;
  transition-delay: 100ms;
  width: fit-content;
  font-weight: bold;
}

.social-media ul li a {
  color: #505f79;
  width: fit-content;
  margin: 0 0 0 10px;
}

header .logo a:hover {
  font-size: 14px;
  transform: rotate(180deg);
}

.toolbar {
  color: #6070ff;
  display: flex;
}

.toolbar ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.toolbar ul li {
  flex: 1;
  align-self: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.toolbar ul li b {
  color: #344563;
}

.toolbar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 250px;
  float: left;
  display: none;
  background-color: gray;
  border: 1px solid red;
}

.toolbar .display {
  display: block;
}

.headline {
  background-image: url(./assets/images/header-shape-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #172b4d;
  border-radius: 0 0 0 50px;
}

.headline h1 {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 10px;
}

.headline .social-media {
  display: flex;
  width: 100%;
}

.headline .social-media ul {
  width: 60%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.social-media ul li {
  flex: 1;
}

.content {
  position: relative;
  top: 10%;
  padding: 20px;
}

/* //////Projects////// */
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 60px 20px;
  border-radius: 10px;
}

.image-cover {
  width: 90%;
  height: fit-content;
  margin-top: 10px;
}

.card-works img {
  width: 100%;
  height: auto;
}

.project-info {
  width: 90%;
}

.project-info h1 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-info .label,
.project-info .tags {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.project-info .label li {
  flex: 1;
  list-style: disc;
  color: gray;
  text-align: left;
  margin: 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-info .tags li {
  margin: 0 5px;
}

.aboutme .card-works ul li {
  color: #172b4d;
  margin: 0 7px;
  padding: 0;
}

.project-info .label li:first-child {
  list-style: none;
  color: #172b4d;
  margin: 0;
  font-weight: bold;
}

.project-info .tags li a {
  background-color: #ebebff;
  padding: 2px 6px;
  border-radius: 5px;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.project-info button {
  padding: 7px 10px;
  border: 1px solid #6070ff !important;
  width: fit-content !important;
  border-radius: 5px;
  color: #6070ff;
  background-color: white;
}

.aboutme .card-works {
  align-items: flex-start;
  margin: 40px 20px 20px 20px;
  padding: 20px;
}

.projects .card-works:hover {
  box-shadow: 0 8px 16px rgba(190, 196, 248, 0.24);
  border: 1px solid #6070ff;
  cursor: pointer;
}

.project-info button:hover {
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  cursor: pointer;
  background-color: #6070ff;
}

/* ///////////about me ///////// */

.aboutme {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: #172b4d;
  border-radius: 0 70px 0 0;
  margin-top: 60px;
}

.aboutme .card-works b {
  color: #6070ff;
  margin-bottom: 5px;
  font-size: 12px;
}

.contactme div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

.aboutme .card-works h1 {
  margin: 0;
  font-size: 26px;
  font-weight: bolder;
}

.aboutme .card-works ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.aboutme .lang {
  width: 100%;
}

.aboutme .card-works .languages {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
}

.aboutme .card-works .languages li {
  width: 100%;
  background-color: #e5e5e5;
  margin: 10px 5px;
  padding: 5px 7px;
  border-radius: 5px;
  text-align: left;
}

.aboutme .card-works .languages li a {
  font-weight: 300;
  color: #253858;
  font-size: 15px;
  line-height: 40px;
}

.aboutme .card-works .project-info li a {
  width: 90%;
}

.aboutme .card-works .languages li i {
  margin: 0 10px;
  color: orange;
}

.aboutme .card-works button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #253858;
}

.aboutme .lang .language-button {
  border: 0;
}

.aboutme .card-works .contacts button {
  width: fit-content;
  height: fit-content;
  border: 1px solid #6070ff;
  background-color: white;
  color: #6070ff;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px 10px;
}

.aboutme .card-works .contacts button:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 3px 0.8px #5d6a80;
}

.aboutme .card-works button span {
  color: #253858;
  float: right;
}

.contactme {
  background-image: url(./assets/images/header-shape-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6070ff;
  color: white;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 60px 0 0 0;
}

footer {
  background-color: white;
}

.contactme div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contactme textarea {
  width: 98%;
  margin: 10px 0;
  padding-top: 7px;
  border: none;
  border-radius: 5px;
  padding-left: 2%;
}

.contactme input {
  width: 98%;
  font-family: 'Poppins', sans-serif;
  height: 40px;
  margin: 10px 0;
  border: none;
  padding-left: 2%;
  border-radius: 5px;
  color: #6070ff;
}

.contactme form input:last-child {
  width: fit-content;
  float: left;
  padding: 0 10px;
}

.contactme form input:last-child:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: white;
  box-shadow: 1px;
  border: 1px solid white;
  font-weight: bolder;
}

.fa-brands {
  border-radius: 15px;
  font-size: 25px;
}

.fa-fa-html5 {
  color: orange !important;
}

.fa-css3-alt {
  color: rgb(14, 99, 197) !important;
}

.fa-js {
  color: rgb(211, 181, 11) !important;
}

.contactme form {
  width: 100%;
}

.contactme div {
  margin: 50px 20px;
  text-align: center;
  color: white;
  padding: 20px;
}

/* ///////////////////////TRANSITATION//////////////// */

.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #00f;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

/* ////////////////////////MEDIA QUERY/////////////////// */

@media all and (min-width: 768px) {
  header {
    width: 90%;
    margin: 0 auto;
  }

  header .logo {
    flex: 2;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  header .toolbar {
    flex: 1;
    padding: 10px 0;
  }

  /* .display {
    display: block;
  } */

  .headline {
    background-image: url(./assets/images/bg_header_shape_desktop_version.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75%;
    display: grid;
    grid-template-columns: 700px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 5%;
  }

  .headline h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  .headline p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .menu {
    display: inline;
    font-style: normal;
    font-size: 14px;
  }

  .toolbar ul .logo {
    flex: 3;
  }

  .collapse-button {
    display: none;
  }

  .headline .social-media ul {
    flex: 0;
    justify-content: space-between;
  }

  /* PROJECT */
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects .card-works {
    display: grid;
    width: 85%;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    padding: 10px 20px;
    grid-gap: 10px;
  }

  .projects .image-cover {
    width: 95%;
    height: auto;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 95%;
  }

  .project-info h1 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
  }

  .project-info .label li {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  .project-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 10;
  }

  .project-info .tags li a {
    margin: 0;
  }

  .order-1:nth-child(1) {
    order: 1;
  }

  .order-2:nth-child(2) {
    order: 2;
  }

  /* ABOUT ME */
  .aboutme {
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #172b4d;
    border-radius: 0 100px 0 0;
  }

  .aboutme .card-works {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .aboutme .card-works .about {
    flex: 2;
    margin: 20px;
  }

  .contactme div h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .aboutme .card-works .about h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contactme div p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .aboutme .card-works .about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .aboutme .card-works .about .lets {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .aboutme .contacts li a {
    margin: 0;
  }

  .aboutme .card-works .lang {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .aboutme .card-works .languages {
    display: grid;
    grid-template-columns: auto;
  }

  .aboutme .card-works .languages li a {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  /* CONTACT ME */
  .contactme {
    background-image: url(./assets/images/contact_form_bg_shapes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6070ff;
    color: white;
    display: flex;
    width: 100%;
    height: 864px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 100px 0 0 0;
  }

  .contactme div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .contactme div textarea,
  .contactme div input {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  .contactme form input:last-child {
    float: none;
  }
}

@media all and (min-width: 1024px) {
  .head {
    height: 916px;
    border-radius: 0 0 0 100px;
  }

  .headline {
    background-image: url(./assets/images/bg_header_shape_desktop_version.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 850px;
    justify-content: center;
    align-items: center;
    height: 87%;
    border-radius: 0 0 0 100px;
  }

  .content {
    position: relative;
    top: 0;
    left: -7%;
  }

  /* PROJECT */
  .projects {
    display: flex;
    flex-direction: column;
  }

  .projects .card-works {
    display: grid;
    width: 85%;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    padding: 10px 20px;
    grid-gap: 10px;
  }

  .projects .image-cover {
    width: 95%;
    height: auto;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
    width: 95%;
    height: auto;
  }

  .project-info p {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin: 10;
  }

  .project-info button {
    width: 124px;
    height: 48px;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
  }

  .order-1:nth-child(1) {
    order: 1;
  }

  .order-2:nth-child(2) {
    order: 2;
  }

  .project-info h1 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .project-info .label li {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  .project-info .tags li a {
    margin: 0;
  }

  /* ABOUT ME */
  .aboutme {
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #172b4d;
    border-radius: 0 150px 0 0;
  }

  .aboutme .card-works {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 100px 0 0;
  }

  .aboutme .card-works .about {
    flex: 1;
    margin: 20px;
  }

  .contactme div h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .aboutme .card-works .about h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contactme div p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .aboutme .card-works .about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .aboutme .card-works .about .lets {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .aboutme .contacts li a {
    margin: 0;
  }

  .aboutme .card-works .lang {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .aboutme .card-works .languages {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 20px;
  }

  .aboutme .card-works .languages li a {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  /* CONTACT ME */
  .contactme {
    background-image: url(./assets/images/contact_form_bg_shapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #6070ff;
    color: white;
    display: flex;
    width: 100%;
    height: 846px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 150px 0 0 0;
  }

  .contactme div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .contactme div textarea,
  .contactme div input {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  .contactme form input:last-child {
    float: none;
  }
}
