html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  font-weight: 100;
  letter-spacing: 2px;
  color: wheat;
  text-decoration: none;
  padding: 20px 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
}

li {
  list-style: none;
}

.wrapper {
  width: 375px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  background-color: #e5e5e5;
  flex-direction: column;
}

header {
  background-color: white;
  display: flex;
}

header > * {
  flex: 1;
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

header .logo {
  text-align: left;
  margin-left: 25px;
  color: #6070ff;
}

.toolbar {
  color: #6070ff;
  display: flex;
}

.toolbar ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.toolbar ul li {
  flex: 1;
  align-self: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.card-works a,
.headline a {
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 10px 0;
}

.toolbar ul li b {
  color: #6070ff;
}

.logo a {
  text-align: left;
  margin-left: 10px;
}

.collapse-button a {
  text-align: right;
  color: #6070ff;
}

.headline {
  background-image: url(./assets/images/header-shape-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #172b4d;
  padding: 50px 20px;
  border-radius: 0 0 0 50px;
}

.headline h1 {
  width: 325px;
  padding: 10px;
  height: fit-content;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.headline .social-media {
  display: flex;
  width: 100%;
}

.headline .social-media ul {
  width: 60%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.social-media ul li {
  flex: 1;
}

.social-media ul li a {
  color: #505f79;
  padding: 10px 0;
}

.menu {
  display: none;
}

@media all and (min-width: 375px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) {
  .menu {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 14px;
  }

  .toolbar ul .logo {
    flex: 3;
  }

  .collapse-button {
    display: none;
  }

  .headline .social-media ul {
    width: 20%;
    justify-content: space-around;
  }

  .content p {
    width: 70%;
  }

  .social-media ul li {
    flex: 0;
  }

  .headline .content {
    position: relative;
    top: 10%;
    left: 5%;
    width: 80%;
    height: fit-content;
    margin: 50px;
    font-size: larger;
  }
}
